.alarm-input {
  font-size: 30px;
  background: none;
  border: none;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
}

.switch {
  width: 60px;
  height: 34px;
  position: relative;
  display: inline-block;
}

.switch input {
  height: 0;
  width: 0;
  opacity: 0;
}

.slider {
  background-color: var(--secondary-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 30px;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.slider::before {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  content: "";
  top: 4px;
  left: 4px;
  position: absolute;
  background-color: var(--primary-color);
  transition: transform 0.4s ease;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: var(--toggle-on-color);
}

.alarm-container {
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: max-content;
}

.add-alarm {
  width: max-content;
  font-size: 20px;
  font-family: inherit;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  margin-left: 22px;
  margin-top: 22px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.179) 0 1px 2px 0;
  transition: background-color 150ms ease, transform 150ms ease, box-shadow 150ms ease;
}

.add-alarm:hover {
  transform: translateY(-2px);
  background-color: var(--button-hover-color);
  box-shadow: rgba(0, 0, 0, 0.468) 0 2px 3px 0;
}

.add-alarm:active {
  transform: translateY(0px);
  box-shadow: none;
}

.alarm-delete {
  font-size: 25px;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  margin-left: 22px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.179) 0 1px 2px 0;
  transition: background-color 150ms ease, transform 150ms ease, box-shadow 150ms ease;
}

.alarm-delete:hover {
  transform: translateY(-2px);
  background-color: var(--button-hover-color);
  box-shadow: rgba(0, 0, 0, 0.468) 0 2px 3px 0;
}

.alarm-delete:active {
  transform: translateY(0px);
  box-shadow: none;
}