.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--secondary-color);
}

.clock {
  font-size: clamp(5rem, 9vw, 8rem);
}

.date-info {
  font-size: clamp(2rem, 1vw, 5rem);
}