:root {
  --primary-color: #F5EBE0;
  --secondary-color:  #D5BDAF;
  --accent-color: #E3D5CA;
  --hover-color: #edede92c;
  --navbar-bg: #D5BDAF;
  --navbar-text: #F5EBE0;
  --button-hover-color: #c3aa9b;
  --toggle-on-color: #d5af87;
}

[data-theme="dark"] {
  --primary-color: #D5BDAF;
  --secondary-color: #EDEDE9;
  --accent-color: #a3978d;
  --hover-color: #61616132;
  --navbar-bg: #D6CCC2;
  --navbar-text: #605c54;
  --button-hover-color: #e4e4df;
  --toggle-on-color: #f6f6ce;
}


body {
  margin: 0px;
  font-family: 'JetBrains Mono', monospace;
}